{%extends "base.html.twig"%}

{% block title %}
    {{ parent() }}
    - Administration
    {% endblock %}
    
{% block body %}    
<ul class="sousmenu">
    <li><a class="admin" href="{{ path('admin') }}">Tout</a></li>
    <li><a class ="publier" href="{{ path('articlePublier') }}">Publier</a></li>
    <li><a class="Npublier" href="{{ path('articleNonPublier') }}">Non Publier</a></li>
</ul>

<h1>Admin</h1>

<a class="ajouter" href="{{ path('addArticle') }}">Ajouter</a><br>

{% for article in varArticle %} {# On appelle cette boucle pour chaque instance #}
<div>
    <div class="news">
        {# On va chercher dans la colonne titre lie a l'instance correspondante #}
        <h3 class="titre">{{ article.titre }}</h3>
        <div class="soustitre">
        <p class="auteur">{{ article.auteur }}</p>
        <p class="date">{{ article.date }}</p>
        </div>
    <div class="annonce"><p>{{ article.sujet }}</p>
        {# Meme principe que pour la premiere ligne et c'est pareil pour la suite #}
        <img src="{{asset('images/')~article.image }}">
    </div>
    <div class="modif">
        <div class="modifier"><a href="{{ path('editArticle',{'id':article.id})}}">Modifier</a></div>
        <div class="supprimer"><a href="{{ path('deleteNews',{'id':article.id})}}">Supprimer</a></div>
    </div>
</div>        
{% endfor %}
{% endblock %}
