{%extends "base.html.twig"%}
{% block body %}
<h1>ADMIN</h1>

{% for article in varArticle %} {# On apple cette boucle pour chanque instance #}
<div>
    <div>
        {# On va chercher dans la colonne titre lie a l'instance correspondante #}
        <h3>{{ article.titre }}</h3>
        {# Meme principe que pour la premiere ligne et c'est pareil pour la suite #}
        <img src="{{ article.image }}">
        <p>{{ article.sujet }}</p>
        <p>{{ article.date }}</p>
        <p>{{ article.auteur }}</p>
    </div>
    <button type="button">Modifier</button>
    <a href="{{ path('deleteNews',{'id':article.id})}}">Delete</a>
</div>
        
{% endfor %}
{% endblock %}
