{%extends "base.html.twig"%}

{% block title %}
    {{ parent() }}
    - Administration
    {% endblock %}
{% block body %}
<h1>ADMIN</h1>

<a href="{{ path('addArticle') }}">Ajouter</a>

{% for article in varArticle %} {# On apple cette boucle pour chanque instance #}
<div>
    <div>
        {# On va chercher dans la colonne titre lie a l'instance correspondante #}
        <h3>{{ article.titre }}</h3>
        {# Meme principe que pour la premiere ligne et c'est pareil pour la suite #}
        <img src="{{ article.image }}">
        <p>{{ article.sujet }}</p>
        <p>{{ article.date }}</p>
        <p>{{ article.auteur }}</p>
    </div>
    <a href="{{ path('editArticle',{'id':article.id})}}">Edit</a>
    <a href="{{ path('deleteNews',{'id':article.id})}}">Edit</a>
</div>
        
{% endfor %}
{% endblock %}
