{%extends "base.html.twig"%}

{% block title %}
    {{ parent() }}
    - Administration
    {% endblock %}
{% block body %}
    
<ul>
    <li><a href="{{ path('admin') }}">Tout</a></li>
    <li><a href="{{ path('articlePublier') }}">Publier</a></li>
    <li><a href="{{ path('articleNonPublier') }}">Non Publier</a></li>
</ul>
    
{% for article in varArticle %} {# On apple cette boucle pour chanque instance #}
<div>
    <div>
        {# On va chercher dans la colonne titre lie a l'instance correspondante #}
        <h3>{{ article.titre }}</h3>
        {# Meme principe que pour la premiere ligne et c'est pareil pour la suite #}
        <img src="{{ article.image }}">
        <p>{{ article.sujet }}</p>
        <p>{{ article.date }}</p>
        <p>{{ article.auteur }}</p>
    </div>
    <a href="{{ path('publierUnArticle', {'id':article.id}) }}">Publier</a>
</div>        
{% endfor %}
{% endblock %}