{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
    News
{% endblock %}

{% block body %}
    {# on crée une zone pour pouvoir y mettre nos news #}
<div>
    <div class="news">
        {# On va chercher dans la colonne titre lie a l'instance correspondante #}
        <h3 class="titre">{{ article.titre }}</h3>
        <div class="soustitre">
        <p class="auteur">{{ article.auteur }}</p>
        <p class="date">{{ article.date|date('d/m/y') }}</p>
    </div>
    <div class="annonce"><p>{{ article.sujet }}</p>
        {# Meme principe que pour la premiere ligne et c'est pareil pour la suite #}
        <img src="{{asset('images/')~article.image }}">
    </div>
        <p><a class="retourB" href="{{ path("home")}}">Retour</a></p>
    </div>
</div>
{% endblock %}
