{%extends "base.html.twig"%}

{% block title %}
    {{ parent() }}
    - Administration
    {% endblock %}
{% block body %}
    
<ul class="sousmenu">
    <li><a class="admin" href="{{ path('admin') }}">Tout</a></li>
    <li><a class ="publier" href="{{ path('articlePublier') }}">Publier</a></li>
    <li><a class="Npublier" href="{{ path('articleNonPublier') }}">Non Publier</a></li>
</ul>

<h1>Non Publier</h1>
    
{% for article in varArticle %} {# On apple cette boucle pour chanque instance #}
<div>
    <div class="news">
        {# On va chercher dans la colonne titre lie a l'instance correspondante #}
        <h3 class="titre">{{ article.titre }}</h3>
        <div class="soustitre">
        <p class="auteur">{{ article.auteur }}</p>
        <p class="date">{{ article.date|date('d/m/y') }}</p>
        </div>
    <div class="annonce"><p>{{ article.sujet }}</p>
        {# Meme principe que pour la premiere ligne et c'est pareil pour la suite #}
        <img src="{{asset('images/')~article.image }}">
    </div>
        <div class="modif"><a href="{{ path('publierUnArticle', {'id':article.id}) }}">Publier</a></div>
</div>        
{% endfor %}
{% endblock %}