{%extends "base.html.twig"%}

{% block title %}
    {{ parent() }}
    - Accueil
{% endblock %}
    
{% block body %}
<h1>HOME</h1>

{% for article in varArticle %} {# On apple cette boucle pour chanque instance #}
<div class="news">
    {# On va chercher dans la colonne titre lie a l'instance correspondante #}
    <h3 class="titre">{{ article.titre }}</h3>
    {# Meme principe que pour la premiere ligne et c'est pareil pour la suite #}
    <img src="{{asset('images/')~article.image }}">
    <p class="auteur">{{ article.auteur }}</p>
    <p class="date">{{ article.date }}</p>
</div>
{% endfor %}
{% endblock %}
