{%extends "base.html.twig"%}

{% block title %}
    {{ parent() }}
    - Inscription
    {% endblock %}
{% block body %}
<h1>INSCRIPTION</h1>

<div class="inscription">
    {{ form_start(formAddUser,{'attr':{'action':path('inscription')}})}}
    <p>{{ form_row(formAddUser.nom) }}</p>
        <p>{{ form_row(formAddUser.prenom) }}</p>
        <p>{{ form_row(formAddUser.email) }}</p>
        <p>{{ form_row(formAddUser.motdepasse) }}</p>
        <p>{{ form_row(formAddUser.avatar) }}</p>
        <p><input type="submit" value="Valider" /></p>
</div>

{% endblock %}