{%extends "base.html.twig"%}

{% block title %}
    {{ parent() }}
    - Profils
{% endblock %}
    
{% block body %}
    
<h1>PROFILS</h1>

{% for user in varUser %} {# On apple cette boucle pour chanque instance #}
    
<div class="profil">
    <p>Nom : {{ user.nom }}</p>
    <p>Prénom : {{ user.prenom }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Mot de passe : {{ user.motdepasse }}</p>
    <p>Avatar : {{ user.avatar }}</p>
</div>
    
{% endfor %}

{% endblock %}