<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
            <nav>
                <ul>
                    <li><a {#href="{{ path('News') }}"#}>News</a></li>
                    <li><a {#href="{{ path('Admin') }}"#}>Admin</a></li>
                    <li><a {#href="{{ path('Profil') }}"#}>Profil</a></li>
                    <li><a {#href="{{ path('Login') }}"#}>Login</a></li>
                    <li><a {#href="{{ path('Logout') }}"#}>Logout</a></li>
                </ul>
            </nav>
        
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
